/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

.shadow {
  box-shadow: 9px 8px 22px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 8px 22px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 8px 22px -1px rgba(0, 0, 0, 0.75);
}

.main-color {
  // background: #fffae0;
  background-color: #e0f4ff;
}
